<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../../js/vue.js"></script>
</head>
<body>
	<ul id="ul-1">
		<user-defined-html-syntax
			v-for="(value, index) in object"
			:index="index"
			:value ="value"
			:key="value.key">
		</user-defined-html-syntax>
	</ul>

	<script type="text/javascript">
		Vue.component('user-defined-html-syntax', {
			props:['index', 'value'],
			template: '<li> {{ index }} : {{ value }}</li>'
		})

		new Vue ({
			el: '#ul-1',
			data: {
				object: {
					name: 'kurt',
					id: '19'
				}
			}
		})
	</script>
</body>
</html>