<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../../js/vue.js"></script>
</head>
<body>
	<div id="div-1">
		<ul>
			<li v-for="items in list">
				{{ items.content }}
			</li>
		</ul>
	</div>

	<div id="div-2">
		<ul>
			<li v-for="(items, index) in list">
				{{ message }} - {{ index }} - {{ items.content }}
			</li>
		</ul>
	</div>

	<script type="text/javascript">
		new Vue ({
			el: '#div-1',
			data: {
				list: [
					{ content: 'a' },
					{ content: 'b' },
					{ content: 'c' }
				]
			}
		})

		new Vue ({
			el: '#div-2',
			data: {
				message: 'message',
				list: [
					{ content: 'a' },
					{ content: 'b' },
					{ content: 'c' }
				]
			}
		})
	</script>
</body>
</html>