<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../../js/vue.js"></script>
</head>
<body>
	<ul id="ul-1">
		<li v-for="properties in object">
			{{ properties }}
		</li>
	</ul>

	<ul id="ul-2">
		<li v-for="(key, value) in object">
			{{ key }} : {{ value }}
		</li>
	</ul>

	<script type="text/javascript">
		new Vue ({
			el: '#ul-1',
			data: {
				object: {
					firstname: 'kurt',
					lastname: 'nebril',
					age: 70
				}
			}
		})

		new Vue ({
			el: '#ul-2',
			data: {
				object: {
					firstname: 'kurt',
					lastname: 'nebril',
					age: 69
				}
			}
		})
	</script>
</body>
</html>