<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
	<div id="division-1">
		<p>This is plain text: {{ rawHtml }} </p>
		<p>Using v-html directive: <span v-html="rawHtml"></span></p>
	</div>

	<script type="text/javascript">
		var vue_instance = new Vue ({
			el: '#division-1',
			data: {
				rawHtml: '<span style="color:red">red</span>'
			}
		})
	</script>
</body>
</html>