<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
	<div id="division-1">
		<span v-once> This cannot be changed: {{ message }} </span>
	</div>

	<script type="text/javascript">
		var vue_instace = new Vue ({
			el: '#division-1',
			data: {
				message: 'test'
			}
		})
	</script>
</body>
</html>