<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
	<div id="app">
		<div :style="{ 'fontSize': customFontSize + 'em' }">
			<component-div
				v-for="properties in list"
				:properties="properties"
				@enlarge-text="enlargeText">
			</component-div>
		</div>
	</div>
	
	<script type="text/javascript">
		Vue.component('component-div', {
			props: ['properties'],
			template: 
				`<div class="div-wrapper">
					<p> {{ properties.title }} </p>
					<button @click="$emit('enlarge-text', 0.1)"> Enlarge Text with event with method </button>
					<p> {{ properties.content }} </p>
				</div>`
		})
		var vm = new Vue({
			el: '#app',
			data: {
				list: [
					{ id:1, title: 'The Wailers', content: 'buffalo soldier' },
					{ id:2, title: 'The Riders', content: 'riders on the storm' }
				],
				customFontSize: 1
			},
			methods: {
				enlargeText: function ($event) {
					this.customFontSize += $event
				}
			}
		})
	</script>
</body>
</html>