<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
	<div id="app">
		<div :style="{ 'fontSize': customFontSize + 'em' }">
			<component-div
				v-for="properties in list"
				:properties="properties"
				@enlarge-text="customFontSize += $event">
			</component-div>
		</div>
	</div>
	
	<script type="text/javascript">
		Vue.component('component-div', {
			props: ['properties'],
			template: 
				`<div class="div-wrapper">
					<p> {{ properties.title }} </p>
					<button @click="$emit('enlarge-text', computedFontSize)"> Enlarge Text with event computed</button>
					<p> {{ properties.content }} </p>
				</div>`,
			computed: {
				computedFontSize: function () {
					return 0.5
				}
			}
		})
		var vm = new Vue({
			el: '#app',
			data: {
				list: [
					{ id:1, title: 'The Wailers', content: 'buffalo soldier' },
					{ id:2, title: 'The Riders', content: 'riders on the storm' }
				],
				customFontSize: 1
			}
		})
	</script>
</body>
</html>