<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
	<div id="app">
		<ol>
			<li v-for="( item, index ) of items">
				<!-- {{ (index+1) }} .  -->{{ item }}
			</li>
		</ol>
		<input type="text" v-model="message" @keyup.enter="push" @keyup.ctrl.88="pop">
		<button @click="push">Push</button>
		<button @click="pop">Pop</button>
		<p>Value is: {{ message }}</p>
	</div>

	<script type="text/javascript">
		new Vue ({
			el: '#app',
			data: {
				items: [
					
				],
				message: ''
			},
			methods: {
				push: function (event) {
					if (this.message.length >= 1) {
						this.items.push(this.message);
						this.message;
					}
					else {
						alert('Input box is empty')
					}
				},
				pop: function (event) {
					this.items.pop();
				}
			}
		});
	</script>
</body>
</html>