<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
	<div id="app">
		<template v-if="ready">
			<p>ready</p>
		</template>
		<template v-else>
			<ul>
				<li v-for="(item, index) in items">
					{{ index+1 }}. {{ item }}
				</li>
			</ul>
		</template>
		
		<input type="text" v-model="input" @keyup.enter="push" @keyup.88="pop">
		<button @click="push">push</button>
		<button @click="pop">pop</button>
		<button @click="ready">update</button>
		<p> Heres your value: {{ input }}</p>	
	</div>

	<script type="text/javascript">
		var vm = new Vue ({
			el: '#app',
			data: {
				items: [
					'jan2',
					'jin2'
				],
				input: '',
				ready: false
			},
			methods: {
				push: function () {
					if (this.input.length > 0) {
						this.items.push(this.input)
						this.input = ''
					}
				},
				pop: function () {
					this.items.pop();
				},
				ready: function () {
					this.ready = true
				}
			}
		});
	</script>
</body>
</html>