<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
	<div id="app">
		<ol>
			<li v-for="(item, index) in items">
				{{ item }}
			</li>
		</ol>
		<input type="text" v-model="message" @keyup.enter="push" @keyup.ctrl.88="pop">
		<button @click="push">Push</button>
		<button @click="pop">Pop</button>
		<p>Value: {{ message }}</p>
	</div>

	<script type="text/javascript">
		new Vue ({
			el: '#app',
			data: {
				items: [
				],
				message: ''
			},
			methods: {
				push: function () {
					if (this.message.length <= 0) {
						alert('Input box is empty');
					} 
					else {
						this.items.push(this.message);
						this.message = '';
					}
				},
				pop: function () {
					var index = prompt("Enter id to delete",);
					if (index.length >= 1) {
						var here = parseInt(index) - 1;
						this.$delete(this.items, here);
					}
					else {
						alert ('prompt is empty');
					}
				}
			}
		});
	</script>
</body>
</html>