<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
	<div id="app">
		<template v-if="updateState">
			<ul>
				<li v-for="(item, index) in list">
					{{ index+1 }}. 
					<input type="text" v-bind:value="item" @keyup="update(index, $event.target.value)">
					<button @click="updateState = false">save</button>
				</li>
			</ul>
		</template>
		<template v-else>
			<ul>
				<li v-for="(items, index) in list">
					{{ index+1 }}. {{ items }}
				</li>
			</ul>
		</template>

		<input type="text" v-model="input" @keypress.enter="push">
		<button @click="push">push</button>
		<button @click="pop">pop</button>
		<button @click="updateState = true">update</button>

		<p>The value is: {{ input }}</p>
	</div>

	<script type="text/javascript">
		var vm = new Vue({
			el: '#app',
			data: {
				input: '',
				list: [
					'jan',
					'jin'
				],
				updateState: false
			},
			methods: {
				push: function () {
					if(this.input.length > 0) {
							this.list.push(this.input)
						this.input = ''
					}
				},
				pop: function () {
					this.list.pop()
				},
				update: function ($index, $value) {
					vm.$set(this.list, $index, $value)
				}
			}
		})
	</script>
</body>
</html>