/**************/
/*** LAYOUT ***/
/**************/
/* Feed wrapper */
.cff-wrapper:after{
  content: "";
  display: table;
  clear: both;
}
/* Posts container */
#cff {
  float: left;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Individual post item */
#cff .cff-item{
  float: left;
  width: 100%;
  clear: both;
  padding: 20px 0 15px 0;
  margin: 0;
  border-bottom: 1px solid #ddd;
}
#cff .cff-item:first-child{
  padding-top: 0;
}
#cff .cff-item.cff-box,
#cff .cff-item.cff-box:first-child{
  padding: 15px;
  margin: 8px 0;
  background: rgba(255,255,255,0.5);
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cff .cff-item.cff-box:first-child{
  margin-top: 0;
}
#cff .cff-item.cff-box:last-child{
  margin-bottom: 0;
}
#cff .cff-item.cff-shadow{
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
}
/* Feed Header */
.cff-header{
  width: 100%;
  margin: 0 0 15px 0;
  padding: 0;
  line-height: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.cff-header .fa,
.cff-header svg{
  margin: 0 10px 0 0;
  padding: 0;
}
/***************
 Custom FB Header
 ***************/
.cff-visual-header {
  margin-bottom: 24px !important;
}
/* Cover and like counter */
.cff-visual-header .cff-header-hero {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
}
.cff-visual-header .cff-header-hero img{
  width: 100%;
  display: none;
}
.cff-visual-header .cff-likes-box {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px;
  background: #eee;
  line-height: 1;
  border-radius: 2px;
  color: #445790;
}
.cff-visual-header .cff-likes-box .cff-square-logo {
  float: left;
  display: inline-block;
  line-height: 0;
}
.cff-visual-header .cff-likes-box .cff-square-logo svg {
  width: 18px;
  vertical-align: top;
}
.cff-visual-header .cff-likes-box .cff-likes-count {
  float: left;
  display: inline-block;
  margin-left: 8px;
  vertical-align: top;
  font-size: 15px;
  line-height: 20px;
}

/* Avatar and text */
.cff-visual-header .cff-header-inner-wrap {
  position: relative;
  display: block;
  text-decoration: none !important;
}
.cff-visual-header .cff-header-inner-wrap a {
  color: inherit !important;
  border: 0;
}
.cff-visual-header .cff-header-img img {
  display: block;
  width: 100px;
  border-radius: 3px;
  padding: 0;
  margin: 0;
}
.cff-visual-header.cff-has-cover .cff-header-img img {
  border: 2px solid #fff;
}
.cff-visual-header .cff-header-img {
  position: absolute;
  display: inline-block;
  line-height: 1;
}
.cff-visual-header.cff-has-cover .cff-header-img {
  top: -25px;
  left: 10px;
}

.cff-visual-header .cff-header-text {
  display: inline-block;
  float: left;
  margin: 20px 0 0 120px;
}
#cff .cff-visual-header .cff-header-text h3,
.cff-visual-header .cff-header-text h3{
  display: inline-block;
  width: auto;
  margin: 0 8px 0 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 1.2em;
}
.cff-visual-header .cff-header-text{
  padding-top: 10px;
  margin: 0;
}
.cff-visual-header.cff-has-name {
  min-height: 100px;
}
.cff-visual-header.cff-has-cover.cff-has-name .cff-header-text {
  min-height: 75px;
}
.cff-visual-header.cff-has-name .cff-header-text {
  margin-left: 120px;
}
.cff-visual-header.cff-has-cover.cff-has-name .cff-header-text{
  margin-left: 125px;
}
.cff-visual-header.cff-has-name .cff-header-text{
  padding-top: 30px;
}
.cff-visual-header.cff-has-name.cff-has-about .cff-header-text,
.cff-visual-header.cff-has-name.cff-has-cover .cff-header-text{
  padding-top: 10px;
}
#cff .cff-visual-header .cff-header-inner-wrap .cff-bio,
.cff-visual-header .cff-header-inner-wrap .cff-bio {
  display: block;
  width: 100%;
  clear: both;
  margin: 3px 0 0 0;
  padding: 0;
  line-height: 1.2em;
}
.cff-visual-header .cff-header-name{
  float: left;
  padding: 0 5px 2px 0;
}
.cff-visual-header .cff-bio-info {
  font-size: .9em;
  line-height: 1.7;
}
.cff-visual-header .cff-bio-info svg {
  display: inline-block;
  width: 1em;
  vertical-align: middle;
  position: relative;
  top: -2px;
}
.cff-posts-count svg {
  padding-right: 3px;
}

.cff-header-text:after,
.cff-header-inner-wrap:after{
  display: table;
  clear: both;
  content: " ";
}
/******************/
/*** TYPOGRAPHY ***/
/******************/
/*See more/less links*/
#cff .cff-less{
  display: none;
}
/* Links */
#cff.cff-default-styles a {
  text-decoration: none;
}
#cff.cff-default-styles a:hover,
#cff.cff-default-styles a:focus {
  text-decoration: underline;
}
#cff .cff-post-text-link{
  display: block;
}
/* Post titles and body text */
#cff h3, #cff h4, #cff h5, #cff h6, #cff p, #cff .cff-post-desc{
  float: left;
  width: 100%;
  clear: both;
  padding: 0;
  margin: 5px 0;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}
#cff.cff-default-styles h3, #cff.cff-default-styles h4, #cff.cff-default-styles h5, #cff.cff-default-styles h6, #cff.cff-default-styles p, #cff.cff-default-styles .cff-post-desc{
  line-height: 1.4;
}
/* Date */
#cff .cff-date{
  float: left;
  min-width: 50px;
  width: auto;
}
#cff.cff-default-styles .cff-date{
  font-size: 11px;
}
/************/
/***AUTHOR***/
/************/
#cff .cff-author{
  float: left;
  clear: both;
  margin: 0 0 15px 0;
  padding: 0;
  line-height: 1.2;
  width: 100%;
}
#cff .cff-author a{
  text-decoration: none;
  border: none;
}
#cff .cff-author-img{
  float: left;
  width: 40px;
  height: 40px;
  margin: 0 0 0 -100% !important;
  font-size: 0;
  background: #eee;

  background: url('../img/cff-avatar.png') no-repeat;
  border-radius: 50%;
}
#cff .cff-author img{
  float: left;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  font-size: 0;
  border-radius: 50%;
}
#cff .cff-author .cff-author-text span.cff-page-name{
  display: table-cell;
  vertical-align: middle;
  height: 40px;
  margin: 0;
  font-weight: bold;

  /* For when there's no date immediately under author: */
  padding-left: 50px;
  float: none;
}
#cff .cff-author .cff-story{
  font-weight: normal;
}
#cff.cff-default-styles .cff-author a{
  text-decoration: none;
}
#cff .cff-author.cff-no-author-info .cff-date{
  margin-top: 12px !important;
}
#cff .cff-author.cff-no-author-info .cff-author-img{
  width: 40px;
  height: 40px;
  background: url('../img/cff-avatar.png') no-repeat;
}

/* Author Date */
#cff .cff-author .cff-author-text{
  float: left;
  width: 100%;
}
#cff .cff-author .cff-page-name,
#cff .cff-author .cff-date{
  float: left;
  clear: both;
  width: auto;
  margin: 0 0 0 50px !important;
}
#cff.cff-default-styles .cff-author .cff-author-text *{
  font-weight: bold;
  line-height: 1.2;
}
#cff .cff-author .cff-date{
  color: #9197a3;
  font-size: 11px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
#cff.cff-default-styles .cff-author .cff-date{
  font-weight: normal;
}
#cff .cff-author .cff-page-name.cff-author-date{
  float: left;
  padding: 2px 0 0 0;
  font-size: 14px;
}

/*************/
/*** MEDIA ***/
/*************/
.cff-media-link .fa,
/*#cff .cff-media-link a,*/
#cff .cff-cta-link a {
  display: inline-block;
  width: auto;
  padding: 5px 7px 5px 6px;
  /*padding: 5px 10px;*/
  margin-right: 6px;
  border: 1px solid #eee;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 3px;
  background: rgba(0,0,0,0.02);
}
.cff-media-link .fa:hover,
/*#cff .cff-media-link a:hover,*/
#cff .cff-cta-link a:hover {
  background: #f9f9f9;
  background: rgba(0,0,0,0.03);
  text-decoration: none;
}
/* Call to action button */
#cff .cff-cta-link a {
  padding: 5px 15px;
}


#cff .cff-break-word{
  word-break: break-all;
}
/* Link */
#cff .cff-expand{
  display: none;
}
#cff.cff-default-styles .cff-expand a{
  font-size: 11px;
  font-weight: normal;
}
/*Link image*/
#cff .cff-shared-link{
  float: left;
  clear: both;
  width: 100%;
  padding: 5px 10px;
  margin: 10px 0 5px 0;

  /* IE8 */
  background: #f9f9f9;
  border: 1px solid #d9d9d9;

  background: rgba(0,0,0,0.02);
  border: 1px solid rgba(0,0,0,0.07);

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cff .cff-no-styles{
  background: none;
  border: none;
  padding: 0;
}
#cff .cff-link{
  float: left;
  clear: both;
  max-width: 20%;
  margin: 10px 0 0 0;
}
#cff .cff-link img{
  max-width: 100%;
}
/*Link text*/
#cff .cff-link-title{
  float: left;
  clear: both;
  width: 100%;
  display: block;
}
#cff.cff-default-styles .cff-link-title{
  font-weight: bold;
}
#cff p.cff-link-title{
  margin: 5px 0 0 0;
}
#cff .cff-text-link{
  float: left;
  clear: none;
  width: 72%;
  margin-left: 3%;
  padding: 0 0 5px 0;
}
#cff .cff-link-caption{
  margin: 0;
}
#cff.cff-default-styles .cff-link-caption{
  font-size: 12px;
}
#cff .cff-text-link.cff-no-image{
  width: 100%;
  margin-left: 0;
}
#cff .cff-post-desc{
  margin: 5px 0 0 0;
}
/* Feed events */
#cff .cff-details{
  float: left;
  clear: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
#cff .cff-details h5{
  margin: 0 0 5px 0;
}
#cff.cff-default-styles .cff-details h5{
  padding: 0;
  font-size: 16px;
}
#cff.cff-default-styles .cff-details p{
  font-size: 14px;
}
#cff .cff-timeline-event .cff-timeline-event-title,
#cff .cff-timeline-event .cff-date,
#cff .cff-timeline-event .cff-where,
#cff .cff-timeline-event .cff-info{
  display: block;
  width: 100%;
  clear: both;
}
#cff .cff-details .cff-info{
  padding: 10px 0 0 0;
}
#cff.cff-default-styles .cff-details .cff-info{
  line-height: 1.2;
}
/* Video */
#cff .cff-desc-wrap{
  float: left;
  width: 100%;
}

/* Note */
#cff .cff-note-title{
  display: block;
  font-weight: bold;
  padding-bottom: 5px;
}

/* View on Facebook / View Link text */
#cff .cff-post-links{
  float: left;
  clear: none;
  padding: 5px 0 0 0;
  margin: 0;
}
#cff.cff-default-styles .cff-post-links{
  font-size: 11px;
}

#cff .cff-post-links.cff-left{
  float: left;
  margin: 8px 0;
}
#cff.cff-default-styles .cff-post-links a{
  font-size: 11px;
}
#cff .cff-post-links a:first-child{
  padding-left: 0;
  margin: 0;
}
#cff .cff-dot{
  padding: 0 5px;
}

/* Share tooltip*/
#cff .cff-share-container{
  position: relative;
  display: inline;
}
#cff .cff-share-tooltip{
  display: none;
  position: absolute;
  z-index: 1000;
  bottom: 22px;
  right: -40px;
  width: 110px;
  padding: 5px 5px 4px 5px;
  margin: 0;
  background: #333;
  color: #eee;
  font-size: 12px;
  line-height: 1.3;

  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cff .cff-share-tooltip .fa-play{
  position: absolute;
  font-size: 8px;
  bottom: -6px;
  left: 50%;
  margin-left: -3px;
  color: #333;
}
#cff .cff-share-tooltip a .fa,
#cff .cff-share-tooltip a svg{
  font-size: 16px;
  margin: 0;
  padding: 5px;
}
#cff .cff-share-tooltip a{
  display: block;
  float: left;
  margin: 0 !important;
  padding: 0 !important;
  color: #eee !important;
  opacity: 0;

  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
#cff .cff-share-tooltip a:hover{
  color: #fff !important;
}
#cff .cff-share-tooltip .cff-facebook-icon:hover{ background: #3b5998; }
#cff .cff-share-tooltip .cff-twitter-icon:hover{ background: #00aced; }
#cff .cff-share-tooltip .cff-google-icon:hover{ background: #dd4b39; }
#cff .cff-share-tooltip .cff-linkedin-icon:hover{ background: #007bb6; }
#cff .cff-share-tooltip .cff-pinterest-icon:hover{ background: #cb2027; }
#cff .cff-share-tooltip .cff-email-icon:hover{ background: #dd4b39; }
/* Fade in icons */
#cff .cff-share-tooltip a.cff-show{
  opacity: 1;
  transition: opacity 0.2s ease;
}

/* Like box */
.cff-likebox{
  float: left;
  width: 100%;
  position: relative;
  margin: 20px 0 0 0;
}
.cff-likebox .fb_iframe_widget{
  width: 100%;
}
.cff-likebox .fb_iframe_widget span{
  width: 100% !important;
}
.cff-likebox .fb_iframe_widget iframe{
  margin: 0;
  position: relative;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100%;
}
/*Like box is not inside of #cff*/
.cff-likebox.cff-top.cff-outside{
  margin-bottom: 10px;
}
.cff-likebox.cff-bottom.cff-outside{
  margin-top: 10px;
}
/*********************/
/*** STYLE OPTIONS ***/
/*********************/
#cff.cff-fixed-height{
  overflow: hidden;
  overflow-y: auto;
  padding: 5px 10px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#cff .cff-error-msg{
  display: none;
  position: relative;
  font-size: 12px;
  font-family: sans-serif;
  padding: 8px 12px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  clear: both;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
#cff .cff-error-msg p{
  float: none;
}
#cff #cff-error-reason{
  display: none;
  padding: 5px 0 0 0;
  clear: both;
}

/* Credit link */
#cff.cff-default-styles .cff-credit{
  font-size: 11px;
}
#cff.cff-default-styles .cff-credit a{
  text-decoration: none;
}
#cff .cff-credit img{
  float: left;
  margin: -2px 5px 0 0;
}
#cff .cff-credit .fa{
  padding-right: 5px;
  font-size: 13px;
}

/* Accessibility */
.cff-screenreader{
  text-indent: -9999px !important;
  display: block !important;
  width: 0 !important;
  height: 0 !important;
  line-height: 0 !important;
}

/* On mobile make the min-width 100% */
@media all and (max-width: 640px){
  #cff.cff-width-resp{
    width: 100% !important;
  }
  .cff-wrapper .cff-visual-header .cff-header-img img {
    width: 80px;
  }
  .cff-wrapper .cff-visual-header.cff-has-name .cff-header-text {
    margin-left: 95px;
  }
  .cff-wrapper .cff-visual-header.cff-has-cover.cff-has-name .cff-header-text {
    margin-left: 105px;
  }
}

/* Stops emojis from floating to the left of sentences */
#cff .cff-comment .cff-comment-text img,
#cff img.emoji,
#cff-lightbox-wrapper .cff-comment .cff-comment-text img,
#cff-lightbox-wrapper img.emoji{
  float: none;
  max-width: 100%;
}
#cff .cff-linebreak{
  display: block;
  height: 5px;
}

/* Masonry */
#cff.cff-masonry .cff-item.cff-box{
  margin-left: 1.5%;
  margin-right: 1.5%;
}
#cff.cff-masonry {
    box-sizing: border-box;
}
#cff.cff-masonry .cff-item:first-child,
#cff.cff-masonry .cff-item {
    padding-top: 20px;
    margin-top: 0;
}
#cff.cff-masonry .cff-item,
#cff.cff-masonry .cff-likebox{
    float: none;
    display: inline-block;
    width: 30.3%;
    margin: 0 1.5%;
    margin-bottom: 20px;
}
#cff.cff-masonry.cff-opaque-comments .cff-item{
  z-index: 1;
}
#cff.cff-masonry.masonry-2-desktop .cff-item{
    width: 47%;
    margin: 0 1.5%;
}
#cff.cff-masonry.masonry-4-desktop .cff-item{
    width: 22%;
    margin: 0 1.5%;
}
#cff.cff-masonry.masonry-5-desktop .cff-item{
    width: 17%;
    margin: 0 1.5%;
}
#cff.cff-masonry.masonry-6-desktop .cff-item{
    width: 13.516%;
    margin: 0 1.5%;
}
#cff.cff-masonry .cff-comments-box {
    position: relative;
    z-index: 999;
}
#cff.cff-masonry .cff-comment-attachment,
#cff.cff-masonry .cff-comment-replies-box {
    max-width: 100%;
}
/* Load more button */
#cff.cff-masonry .cff-load-more{
    display: block;
    float: left;
    clear: both;
    /*position: absolute;
    bottom: -40px;*/
}
@media (max-width: 780px){
    #cff.cff-masonry .cff-item, /* 3 cols */
    #cff.cff-masonry.masonry-2-desktop .cff-item,
    #cff.cff-masonry.masonry-4-desktop .cff-item,
    #cff.cff-masonry.masonry-5-desktop .cff-item,
    #cff.cff-masonry.masonry-6-desktop .cff-item,
    #cff.cff-masonry .cff-likebox{
        width: 100%;
        margin: 0;
    }
    #cff.cff-masonry.masonry-2-mobile .cff-item{
        width: 47%;
        margin-left: 1.5%;
        margin-right: 1.5%;
    }
}

/* --- Begin Pure CSS Masonry Columns Layout --- */
#cff.cff-masonry.cff-masonry-css {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}
#cff.cff-masonry.cff-masonry-css {
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    -webkit-column-fill: auto;
    column-fill: unset;

    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    margin: 0;
}
/* --- Widths & Media --- */
#cff.cff-masonry.cff-masonry-css.masonry-2-desktop {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    margin: 0;
}
#cff.cff-masonry.cff-masonry-css.masonry-4-desktop {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    margin: 0;
}
#cff.cff-masonry.cff-masonry-css.masonry-5-desktop {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    margin: 0;
}
#cff.cff-masonry.cff-masonry-css.masonry-6-desktop {
    -webkit-column-count: 6;
    -moz-column-count: 6;
    column-count: 6;
    margin: 0;
}
#cff.cff-masonry.cff-masonry-css .cff-item,
#cff.cff-masonry.cff-masonry-css.masonry-2-desktop .cff-item,
#cff.cff-masonry.cff-masonry-css.masonry-4-desktop .cff-item,
#cff.cff-masonry.cff-masonry-css.masonry-5-desktop .cff-item,
#cff.cff-masonry.cff-masonry-css.masonry-6-desktop .cff-item,
#cff.cff-masonry.cff-masonry-css .cff-likebox {
    float: none;
    display: inline-block;
    width: 100%;
    margin: 0 0 12px 0;
}
#cff.cff-masonry.cff-masonry-css .cff-likebox {
    width: 99.5%;
}
/* Load more button */
#cff.cff-masonry.cff-masonry-css .cff-load-more{
    margin: 0 0 10px 0;
    position: relative;
    bottom: 0;
}
@media only screen and ( max-width: 780px ) {
    #cff.cff-masonry.cff-masonry-css,
    #cff.cff-masonry.cff-masonry-css.masonry-2-desktop,
    #cff.cff-masonry.cff-masonry-css.masonry-4-desktop,
    #cff.cff-masonry.cff-masonry-css.masonry-5-desktop,
    #cff.cff-masonry.cff-masonry-css.masonry-6-desktop {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    #cff.cff-masonry.cff-masonry-css.masonry-2-mobile {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        margin: 0;
    }
    #cff.cff-masonry.cff-masonry-css.masonry-2-mobile .cff-item,
    #cff.cff-masonry.cff-masonry-css.masonry-2-mobile {
        width: 100%;
    }
}
/* --- End Pure CSS Masonry Columns Layout --- */

/* Disable masonry layout in 1 col mobile */
#cff.cff-disable-masonry{
  height: auto !important;
}
#cff.cff-disable-masonry .cff-item,
#cff.cff-disable-masonry .cff-likebox{
    position: relative !important;
    top: auto !important;
}

/* Num Mobile Hiding */
.cff-num-diff-hide {
  display: none !important;
}