.ber h1 {
    font-weight: bold;
    font-size: 35px;
}

.thumbnail-name {
    position: relative;
    bottom: 20px;
}

/* background colors */
.greenback {
    background-color: #006937;
}

#contactinfo h4{
    text-align: center !important;
}

.EcoCarBanner h2 {
    color: #FFF !important;
}