<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<style>
		body {
			font-family: tahoma;
			color:#282828;
			margin: 0px;
		}
		
		.nav-bar {
			background: linear-gradient(-90deg, #84CF6A, #16C0B0);
			height: 60px;
			margin-bottom: 15px;
		}

		.product {
			display: flex;
			flex-flow: wrap;
			padding: 1rem;
		}

		img {
			border: 1px solid #d8d8d8;
			width: 70%;
			box-shadow: 0px .5px 1px #d8d8d8;
		}
		
		.product-image {
			width: 80%;
		}
		
		.product-image,
		.product-info {
			margin-top: 10px;
			width: 50%;
		}
		
		.color-box {
			width: 40px;
			height: 40px;
			margin-top: 5px;
		}
		
		.cart {
			margin-right: 25px;
			float: right;
			border: 1px solid #d8d8d8;
			padding: 5px 20px;
		}
		
		button {
			margin-top: 30px;
			border: none;
			background-color: #1E95EA;
			color: white;
			height: 40px;
			width: 100px;
			font-size: 14px;
		} 
		
		.disabledButton {
			background-color: #d8d8d8;
		}
		
		.review-form {
			width: 400px;
			padding: 20px;
			margin: 40px;
			border: 1px solid #d8d8d8;
		}
		
		input {
			width: 100%;
			height: 25px;
			margin-bottom: 20px;
		}
		
		textarea {
			width: 100%;
			height: 60px;
		}

		.tab {
			margin-left: 20px;
			cursor: pointer;
		}

		.activeTab {
			color: #16C0B0;
			text-decoration: underline;
		}
	</style>
</head>
<body>
	<div id="app">
		<div class="nav-bar"></div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<img v-bind:src="imagesrc">
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<h1>{{ product }}</h1>
			</div>
			</div>
		</div>
	</div>
	

	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data: {
				product: 'sock',
				imagesrc: 'https://www.vuemastery.com/images/challenges/vmSocks-green-onWhite.jpg'
			}
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>