<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
	<div id="division-1">
		<p> {{ variable }} </p>
		<button v-on:click = "changevalue">click</button>
	</div>

	<script type="text/javascript">
		var test_object = {
			variable: 1
		}

		var vue_instance = new Vue ({
			el: "#division-1",
			data: test_object,
			methods: {
				changevalue: function () {
					this.variable = 2
				}
			},

			created: function () {
				console.log ("this value is created: " + this.variable)
			}
		})
	</script>
</body>
</html>