<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
	<div id="division-1">
		<p> {{ test_varible }} </p>
		<button v-on:click="test_varible = 'b'">change it</button>
	</div>
	
	<script type="text/javascript">
		var test_object = {
			test_varible: 'a'
		}

		new Vue ({
			el: "#division-1",
			data: test_object

		})
	</script>

</body>
</html>