<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
	<div id="division-1">
		<p> {{ variable }} </p>
		<button v-on:click = "changeVariableContent">change it</button>
	</div>


	<script type="text/javascript">
		var test_object = {
			variable: 'a'
		}

		Object.freeze(test_object)	

		var vue_instance = new Vue ({
			el: "#division-1",
			data: test_object,
			methods: {
				changeVariableContent: function () {
					this.variable = 'b'
					console.log(this.variable)
				}
			}
		})
	</script>
</body>
</html>