<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="js/vue.js"></script>
</head>
<body>
	<div id="app" v-bind:style="{ 'background-color': bgColor}">
		<input v-model='message'>
		<br>
			<input v-if='isBlank()'>
				<div v-if='isNumber()'>
					{{ message }} is a Number
				</div>
				<div v-else>
					{{ message }} is a not a number
				</div>
			</input>
			<input v-else>

			</input>
		</input>
	</div>

	<script type="text/javascript">
		var app = new Vue ({
			el: '#app',
			data: {
				message: '',
				bgColor: 'transparent'
			},
			methods: {
				isBlank: function () {
					this.bgColor = 'transparent';
					return (this.message.lenth == 1) ?
					true:false;
				},
				isNumber: function () {
					var isNumber = (!isNaN(this.message)) ? true:false 
					this.bgColor = isNumber ? 'blue' : 'red';
					return isNumber;
				}
			}
		});
	</script>
		
</body>
</html>