<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../js/vue.js"></script>
	<style type="text/css">
		.wrapper {
			height: 100vh;
			width: 100vw;
			background-color: #111;
			position: absolute;
			left: 0;
			top: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #fff;
			transition: .9s;
			}
		/*h1 	
		{
			position: absolute;
			top: 10%;
			width: 70%;
			left: -0px;
			margin-left: 15%;
			text-align: center;
			display: block;
			font-family: Josefin Sans;
		}*/
		input 
			{
			background-color: transparent;
			border-color: transparent;
			border-bottom-color: white;
			width: 180%;
			height: 100px;
			color: #fff;
			font-size: 4em;
			outline: none;
			text-align: center;
			font-family: Josefin Sans, sans-serif;
			margin-left: -40%;
			}
	</style>
</head>
<body>
	<div id="app">
		<div class="wrapper" v-bind:style="bgc">
			<div class="content">
				<h1>{{description}}</h1>
				<input type="text" v-on:keyup="changeColor()" v-model="color"/>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		new Vue({
			el: '#app',
			data: {
				description: '',
				color: '',
				bgc: {
					backgroundColor: ''
				}
			},
			methods: {
				changeColor: function () {
					this.bgc.backgroundColor = this.color;
				}
			}
		})
	</script>
</div>
</body>
</html>