<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="js/Vue.js"></script>
</head>
<body>
	<div id="id_division" style="text-align: center;">
		<h1>Firstname: {{ firstname }}</h1>
		<h1>Lastname: {{ lastname }}</h1>
	</div>
	
	<script type="text/javascript">
		var vue_object = new Vue({
			el: '#id_division',
			data: {
				firstname: 'Kurt Kevin',
				lastname: 'Nebril'
			}
		});
	</script>

</body>
</html>