<!DOCTYPE html>
<html>
<head>
	<title>VueJs Instances</title>
	<script type="text/javascript" src="js/vue.js"></script>
</head>
<body>
	<div id="id_division">
		<h1>Firstname : {{firstname}}</h1>
		<h1>Lastname : {{lastname}}</h1>
		<h1>{{ get_lastname() }}</h1>
	</div>
	<script type="text/javascript" src="js/vue_instance.js"></script>
</body>
</html>