<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
	<div id="app">
		<input type="text" v-model="subject" placeholder="subject">
		<input type="number" v-model="grade" v-on:keyup.enter="push_value" placeholder="Grade">
		<button v-on:click="push_value">Push</button>
		<button v-on:click="pop_value">Pop</button>
		<button v-on:click="is_updated">{{ (is_clicked) ? 'Save' : 'Update' }}</button>
		<p> Subject: {{ subject }} <br> Grade {{ grade }} </p>
		<h4> Cardo Dalisay's Grades</h4>
		<ul>
			<template v-if="!is_clicked">
				<li v-for="(subject, index) of subjects">
					{{ subjects[index] }} : {{ grades[index] }}
				</li>
			</template>
			<template v-else>
				<li v-for="(subject, index) of subjects">
					<input type="text" v-model="subjects[index]">
					<input type="number" v-model="grades[index]">
				</li>
			</template>
		</ul>
	</div>
	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data: {
				subjects: ['Multimedia Systems', 'Current Trends in IT', 'Network Security'],
				grades: [ 80, 48, 65],
				is_clicked: false
			},
			methods: {
				push_value: function () {
					if(this.subject.length >= 1 && this.grade.lenth >= 1) {
						this.subjects.push(this.subject)
						this.subject = ''
						this.grades.push(this.grade)
						this.grade=''
					}
				},
				pop_value: function () {
					this.subjects.pop()
					this.grades.pop()
				},
				is_updated: function () {
					alert(this.is_clicked)
					return this.is_clicked = (this.is_clicked) ? false:true
				}
			}
		});
	</script>
</body>
</html>