 <!DOCTYPE html>
 <html>
 <head>
 	<title></title>
 	<script type="text/javascript" src="../js/vue.js"></script>
 </head>
 <body>
 	<div id="app">
 		<input type="text" placeholder="Subject" v-model="subjectInput" >
 		<input type="number" placeholder="Grade" v-model="gradeInput">
 		<button @click="pushItem">push</button>
 		<button @click="popItem">pop</button>

		<template v-if="!updateState">
			<button @click="setUpdate">updateState</button>
		</template>
		<template v-else>
			<button @click="unsetUpdate">close</button>
		</template>
 			
 		<p>Subject: {{ subjectInput }}</p>
 		<p>Grade: {{ gradeInput }} </p>

 		<h4>Cardo Dalisay's Grades</h4>

 		<template v-if="!updateState">
 			<ul>
	 			<li v-for="(key, index) in subject">
	 				{{ subject[index] }} : {{ grades[index] }}
	 			</li>
	 		</ul>
 		</template>

 		<template v-else>
 			<ul>
 				<li v-for="(key, index) in subject">
 					<input type="text" :value="subject[index]" @keyup="updateValue(index, $event.target.value)">
 					<input type="text" :value="grades[index]" @keyup="updateValue(index, $event.target.value)">
 				</li>
 			</ul>
 		</template>
 	</div>

 	<script type="text/javascript">
 		var vueModel = new Vue ({
 			el: '#app',
 			data: {
 				subjectInput: '',
 				gradeInput: '',
 				subjectInput_active: false,
 				gradeInput_active: false,
 				updateState: false,
 				subject: ['Multimedia Systems', 'Current Trends in IT', 'Network Security'	],
 				grades: [ 80, 90, 85 ]
 			},
 			methods: {
 				pushItem: function () {
 					if (this.subjectInput.length > 0 && this.gradeInput.length > 0) {
 						this.subject.push(this.subjectInput)
	 					this.grades.push(this.gradeInput)
						this.subjectInput = ''
	 					this.gradeInput = ''
 					} else {
 						alert('Please fill in the two boxes')
 					}
 				},
 				popItem: function () {
 					this.subject.pop()
 					this.grades.pop()
 				},
 				setUpdate: function () {
 					this.updateState = true;
 				},
 				unsetUpdate: function () {
 					this.updateState = false;
 				},
 				updateValue: function ($index, $value) {
 					vueModel.$set(this.subject, $index, $value)
 					vueModel.$set(this.grades, $index, $value)
 				}
 			}
 		});
 	</script>
 </body>
 </html>