<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
	<div id="app">
		<input type="text" placeholder="Subject" v-model="inputSubject" @keyup.enter="pushValue">
		<input type="number" placeholder="Grade" v-model="inputGrade" @keyup.enter="pushValue">
		<button @click="pushValue">Push</button>
		<button @click="popValue">Pop</button>
		<template v-if="!updateState">
			<button @click="update">update</button>
		</template>
		<template v-else>
			<button @click="close">save</button>
		</template>

		<p>Subject: {{ inputSubject }}</p>
		<p>Grade {{ inputGrade }}</p>

		<h5>Cardo Dalisay's Grades</h5>
		
		<template v-if="!updateState">
			<ul>
				<li v-for="(key, index) in subjects">
					{{ subjects[index] }}: {{ grades[index] }}
				</li>
			</ul>
		</template>
		<template v-else>
			<ul>
				<li v-for="(key, index) in subjects">
					<input type="text" v-model="subjects[index]">
					<input type="number" v-model="grades[index]">
				</li>
			</ul>
		</template>
	
	</div>
 	
 	<script type="text/javascript">
 		var vm = new Vue ({
 			el: '#app',
 			data: {
 				inputSubject: '',
 				inputGrade: '',
 				updateState: false,
 				subjects: ['Multimedia Systems', 'Current Trends', 'Network Security'],
 				grades: [80, 90, 85]
 			},
 			methods: {
 				pushValue: function () {
	 				if(this.inputSubject.length > 0 && this.inputGrade.length > 0) {
	 					this.subjects.push(this.inputSubject)
	 					this.grades.push(this.inputGrade)
	 					this.inputSubject = ''
	 					this.inputGrade = ''
	 				}
 				},
 				popValue: function () {
 					this.subjects.pop()
 					this.grades.pop()
 				},
 				update: function () {
 					this.updateState = true
 				},
 				close: function () {
 					this.updateState = false
 				}
 			}
 		})
 	</script>
</body>
</html>