<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
	<div id="app">
		<input type="text" placeholder="Subject" v-model="subjectInput" @keyup.enter="push" @keyup.ctrl.enter="pop">
		<input type="text" placeholder="Grade" v-model="gradeInput" @keyup.enter="push" @keyup.ctrl.enter="pop">
		<button @click="push">Push</button>
		<button @click="pop">Pop</button>
		<template v-if="updateState">
			<button @click="updateState = false">Close</button>
		</template>
		<template v-else>
			<button @click="updateState = true"> Update</button>
		</template>

		<p>Subject: {{ subjectInput }}</p>
		<p>Grade: {{ gradeInput }}</p>

		<h5>Cardo Dalisay's Grades</h5>

		<template v-if="!updateState">
			<ul>
				<li v-for="(item, index) in subject">
					{{ subject[index] }} : {{ grade[index] }}
				</li>
			</ul>
		</template>
		<template v-else>
			<ul>
				<li v-for="(item, index) in subject">
					<input type="text" v-model="subject[index]">
					<input type="text" v-model="grade[index]">
				</li>
			</ul>
		</template>
	</div>

	<script type="text/javascript">
		var vm = new Vue ({
			el: '#app',
			data: {
				subjectInput: '',
				gradeInput: '',
				updateState: false,
				subject: ['Multimedia Systems', 'Current Trends', 'Network Security'],
				grade: [90,85,80]
			},
			methods: {
				push: function () {
					if(this.subjectInput.length > 0 && this.gradeInput.length > 0) {
						this.subject.push(this.subjectInput)
						this.grade.push(this.gradeInput)
					}
					this.subjectInput = ''
					this.gradeInput = ''
				},
				pop: function () {
					this.subject.pop()
					this.grade.pop()
				}
			}
		})
	</script>
</body>
</html>