<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
	<div id="app">
		<input type="text" placeholder="subject" v-model="inputSubject">	
		<input type="text" placeholder="grades" v-model="inputGrades">
		<button @click="pushItem">push</button>
		<button @click="popItem">pop</button>

		<li v-for="(item, index) in subjects">
			<ul> {{ subjects[index] }} : {{ grades[index] }} </ul>
		</li>
	</div>


	<script type="text/javascript">
		var vm = new Vue ({
			el: '#app',
			data: {
				inputSubject: '',
				inputGrades: '',
				subjects: ['CurrentTrends', 'Capstone'],
				grades: ['90', '85']
			},
			methods: {
				pushItem: function () {
					// this.subjects.push(this.inputSubject)
				}
			}
		});
	

	</script>
</body>
</html>