<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
	<div id="division-1" :class="getClass">
		<p> This came from data: {{ message }} </p>
		<p> This came from methods: {{ getMessageFromMethod() }} </p>
		<p> This came from computed: {{ getMessage }} </p>

		<p> Date now using methods: {{ nowMethod() }} </p>
		<p> Date now using computed: {{ nowComputed }} </p>
	</div>

	<script type="text/javascript">
		var vue_instane = new Vue ({
			el: '#division-1',

			data: {
				message: 'Hello from data'
			},

			methods: {
				getMessageFromMethod: function () {
					return 'Hello from methods' 
				},

				nowMethod: function () {
					return Date.now()
				}
			},

			computed: {
				getMessage: function () {
					return 'Hello from computed'
				},

				nowComputed: function () {
					return Date.now()
				},
				getClass: function () {
					return 'active'
				}
			}
		})
	</script>
</body>
</html>