<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
	<div id="app">
		<div v-for="(item, index) in ara">
			<!-- <p>{{ item }}</p> -->
			<p v-bind:id="fullname = index">hey</p>
			<a v-bind:href="fullname = index">as</a>
			<span>{{ fullname = index }}</span>
		</div>
	</div>
	<script type="text/javascript">
		var vm = new Vue ({
			el: '#app',
			data: {
				name: 'kurt',
				ara: [
					{
					"consultation_id": 63,
					"created_at": "2019-04-29 15:00:02",
					"updated_at": "2019-04-29 15:00:02",
					"patient_id": 125
					},
					{
					"consultation_id": 64,
					"created_at": "2019-04-29 15:01:07",
					"updated_at": "2019-04-29 15:01:07",
					"patient_id": 125
					},
					{
					"consultation_id": 65,
					"created_at": "2019-04-29 15:10:39",
					"updated_at": "2019-04-29 15:10:39",
					"patient_id": 125
					},
					{
					"consultation_id": 66,
					"created_at": "2019-04-30 01:35:23",
					"updated_at": "2019-04-30 01:35:23",
					"patient_id": 125
					},
					{
					"consultation_id": 67,
					"created_at": "2019-04-30 01:45:42",
					"updated_at": "2019-04-30 01:45:42",
					"patient_id": 125
					},
					{
					"consultation_id": 68,
					"created_at": "2019-04-30 01:50:06",
					"updated_at": "2019-04-30 01:50:06",
					"patient_id": 125
					}
					]
			},
			computed: {
				fullname: {
					set: function (name) {
						this.name = name
					},
					get: function () {
						return this.name
					}
				}
			}
		})
	</script>
</body>
</html>