<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="js/vue.js"></script>
</head>
<body>
	<div id="app">
		<paragraph></paragraph>
	</div>
	<div id="app2">
		<paragraph></paragraph>
	</div>

	<script type="text/javascript">
		Vue.component('paragraph',{
			template: '<p> The value is: {{ value }} <button @click="increment">Increment on value</button> </p> ',
			data: function () {
				return {
					value: 0
				}
			},
			methods: {
				increment: function () {
					this.value += 1
				}
			}
		});
		new Vue({
			el: '#app'
		});

		new Vue({
			el: '#app2'
		});
	</script>
</body>
</html>