<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="js/vue.js"></script>
</head>
<body>
	<div id="app">
		<component-blog title="Oumanji"></component-blog>
		<component-blog title="xinxi"></component-blog>
	</div>

	<script type="text/javascript">
		Vue.component('component-blog',{
			props: ['title'],
			template: '<p>This is {{ title }}</p>'
		});

		new Vue({
			el: '#app'
		});
	</script>
</body>
</html>