<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="js/vue.js"></script>
</head>
<body>
	<div id="app">
		<component-wailers
			v-for="content in list"
			v-bind:content="content">
		</component-wailers>
	</div>

	<script type="text/javascript">
		Vue.component('component-wailers',{
			props: ['content'],
			template: '<div class="the-wailers"> <p v-html="content.title"></p> </div>'
		});

		var vm = new Vue({
			el: '#app',
			data: {
				list: [
					{ id: 1, title: 'The Wailers'},
					{ id: 2, title: 'The Riders'}
				]
			}
		})
	</script>
</body>
</html>