<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="js/vue.js"></script>
</head>
<body>
	<div id="app">
		<component-list
			v-for="properties in list"
			v-bind:id="properties.id"
			v-bind:title="properties.title">
		</component-list>
	</div>

	<script type="text/javascript">
		Vue.component('component-list',{
			props: ['id', 'title'],
			template: '<ul> <li> {{ id }} {{ title }} </li> </ul>'
		});

		new Vue({
			el: '#app',
			data: {
				list: [
					{ id: 1, title: 'Oumanji'},
					{ id: 2, title: 'Xinxi'},
					{ id: 3, title: 'Vengar'}
				]
			}
		})
	</script>
</body>
</html>