<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
	<div id="division-1">
		<template v-if="var1">
			<p>var1 active</p>
			<template v-if="var2">
				<p style="display:none;"> var2 active {{ subject=false }} </p>
				<template v-if="var3">
					<p>var3 active {{ subject=true }}</p>
				</template>
				<div v-bind:class=" {active: isActive, 'text-danger': hasError } "></div>
			</template>
		</template>
	</div>

	<hr>
	<script type="text/javascript">
		var vm = new Vue ({
			el: '#division-1',
			data: {
				isActive: false,
				hasError: true,
				var1: true,
				var2: true,
				var3: false,
				subject: false
			}
		})
	</script>
</body>
</html>