<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
	<div id="app">
		<template v-if="readyToUpdate">
			<ul>
				<li v-for="(item,index) in items">
					{{ index+1 }}. 
					<input type="text" v-bind:value="item" @keyup="update(index, $event.target.value)">
					<button @click="close">save</button>
				</li>
			</ul>
		</template>
		<template v-else>
			<ul>
				<li v-for="(item,index) in items">
					{{ index+1 }}. {{ item }}
				</li>
			</ul>
		</template>
		
		<input type="text" v-model="inputData" @keydown.enter="push" @keydown.ctrl.88="pop" @keydown.ctrl.81="ready" @keydown.ctrl.90="close">
		<button @click="push">push</button>
		<button @click="pop">pop</button>
		<button @click="ready">update</button>
		<p>Input is: {{ inputData }}</p>
	</div>

	<script type="text/javascript">
		var vm = new Vue ({
			el: '#app',
			data: {
				items: [
				],
				inputData: '',
				readyToUpdate: false
			},
			methods: {
				push: function () {
					if (this.inputData.length > 0) {
						this.items.push(this.inputData)
						this.inputData = ''
					}	
				},
				pop: function () {
					this.items.pop()
				},
				ready: function () {
					this.readyToUpdate = true;
				},
				close: function () {
					this.readyToUpdate = false
				},
				update: function ($index, $e) {
					if ($e.length > 1) {
						vm.$set(this.items, $index, $e);
					}
				}
			}
		})
	</script>
</body>
</html>