<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
	<span id="division-1">
		<ol>
			<todo-list
				v-for="item in groceryList"
				v-bind:todo="item"
				v-bind:key="item.id"
			></todo-list>
		</ol>
	</span>

	<script type="text/javascript">
		Vue.component ('todo-list',{
			props: ['todo'],
			template: '<li> {{ todo.text }} </li>'

		})

		var vue_instance = new Vue ({
			el: '#division-1',
			data: {
				groceryList: [
					{id:1, text: 'a'},
					{id:2, text: 'b'},
					{id:3, text: 'c'}
				]
			}
		})
	</script>

</body>
</html>