<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
	<div id="division-1">
		<ol>
			<todo-list
				v-for="item in groceryList"
				v-bind:todo="item"
				v-bind:keys="item.id">
			</todo-list>
		</ol>
	</div>

	<script type="text/javascript">
		Vue.component('todo-list', {
			props:['todo'],
			template: '<li>{{ todo.text }}</li>'
		})

		var vue_object = new Vue ({
			el: '#division-1',
			data: {
				groceryList: [
					{ id:0, text: 'Meat' },
					{ id:1, text: 'Fruits' },
					{ id:2, text: 'Anything else'}
				]
			}
		})
	</script>
</body>
</html>