<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
	<span id="division-1">
		<ol>
			<li v-for="lists in list">
				{{ lists.content }}
			</li>
		</ol>
	</span>

	<script type="text/javascript">
		new Vue ({
			el: "#division-1",
			data: {
				list: [
					{ content: 'a'},
					{ content: 'b'},
					{ content: 'c'}
				]
			}
		})
	</script>
</body>
</html>
