<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
	<div id="division">
		<span v-if='seen'>
			Now you see me
		</span>
	</div>

	<script type="text/javascript">
		var vue_object = new Vue ({
			el: '#division',
			data: {
				seen: true
			}
		});
	</script>
</body>
</html>
