<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
	<div id="division-1">
		<p>{{ message }}</p>
		<button v-on:click='reverse_message'>Button</button>
	</div>

	<script type="text/javascript">
		var vue_object = new Vue ({
			el: '#division-1',
			data: {	
				message: 'How are you?'
			},
			methods: {
				reverse_message: function () {
					// var array = this.message.split('');
					// var reverseArray = array.reverse();
					// var string = reverseArray.join('');
					// this.message = string;
					
					this.message = this.message.split('').reverse().join('');
				}
			}
		})
	</script>
</body>
